header
        .login-bar
          form(action="login",method="POST")
            label(for="username") Username
            input(type="text",id="username",name="username")
            label(for="password") Password
            input(type="password",id="password",name="password")
            input(id="subbut",type="submit",value="login")
        ul.nav-bar.nav-bar-tabs
          li
            a(href='/') Home

          li
            a(href='/howto') How To Play

          li
            a(href='/about') About

          // li
            a(href='/design') Design

          // li
            a(href='/testing') Testing

          // li
            a(href='/aboutus') About Us
