head
  link(rel='stylesheet', type='text/css', href='css/chessCSS.css')
  | &#x9;
  link(rel='stylesheet', type='text/css', href='css/content-wrap.css')
  | &#x9;
  link(rel='stylesheet', type='text/css', href='css/headerCSS.css')
  | &#x9;
  title Chess With Friends