//- about.jade
doctype html
html
  include ./includes/head.jade
  body
    .page-wrap
      include ./includes/header.jade
      .content-wrap
        .sideandtext-wrap
          .text-wrap
            include ./text/about.jade
          
          .side-bar.side-bar2
            include controls/player
          .side-bar.side-bar1
            include controls/playing
            include controls/requested
      include ./includes/footer.jade

