

.content-wrap {
	margin:0px 5% 0px 5%;
	width:90%;
}

.sideandtext-wrap {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	
}

.side-bar, .text-wrap {
	flex:1 100%;
}
.side-bar, .text-wrap, .controls{
	border-radius:10px;
}

/*small screens*/
@media all and (max-width:599px){
	.text-wrap{
		padding:5px;;
	}
	
}
/*medium screen*/
@media all and (min-width:600px){
	.side-bar{flex:1 auto;}
	.text-wrap{
		padding:5%;
	}
	.text-wrap{order:1;}
	.side-bar1 {order:2;
	margin-right:5px;}
	.side-bar2 {order:3;
	margin-left:5px;}
}

/*large screen*/
@media all and (min-width:1100px){
	.text-wrap{
		flex:2 0px;
	}
	.side-bar{
		flex:1 0px;
		
	}
	
	.text-wrap{
		padding:5%;
	}

	.side-bar1 {
		order:1;
		margin-right:10px;
	}
	.text-wrap{order:2;}
	.side-bar2 {
		order:3;
		margin-left:10px;
		}
}

.side-bar {
	/*background-color:brown;*/
}

.text-wrap {
	background-color:white;
	margin-bottom:10px;
	
}

.controls{
	padding:10px;
	min-width:100px;
	background-color:#b3b3b3;
	margin-bottom:10px;
	
}


.text-block {
	/*background-color:blue;*/
	
}

.text-block h1{
	font-size:60px;
}
.chess{
	margin:auto;
	height:650px;
	width:650px;
}

#extFrame {
	border:0px;
	height:100%;
	width:100%;
	}
