h1 The Rules Of Chess
p
    | The rules of chess are as follows
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br
    |   rule
    br