.controls.playing
              h3 Current games
              ul
                li
                  a(href='play') game 1
                li
                  a(href='play') game 1
                li
                  a(href='play') game 1
                li
                  a(href='play') game 1