.controls.playing
              -gameIDs = [0,1,2,3,4]
              h3 Current games
              ul
                each gameID in gameIDs
                  li
                    .current-game
                      a(href='/play/' + gameID)='game ' + gameID
                  