.controls.requested
  h3 Requested Games
  ul
    each game in invitedGames
      li
        .game-request
          h5= 'User : ' + game.otherPlayer + ' is requesting to play '
          button(class='acceptGame').
            Accept
          button(class='declineGame').
            Decline
