.controls.requested
              h3 Requested Games
              ul
                li
                  .game-request
                    h5 User : brian is requesting to play
                    a(href='play') Accept
                    a(href='test.html') Decline
                li
                  .game-request
                    h5 User : brian is requesting to play
                    a(href='play') Accept
                    a(href='test.html') Decline
                li
                  .game-request
                    h5 User : brian is requesting to play
                    a(href='play') Accept  
                    a(href='test.html') Decline

                li
                  .game-request
                    h5 User : brian is requesting to play
                    a(href='play') Accept
                    a(href='test.html') Decline